
header,footer {
    padding: 1em;
    background-color: #FFDAB9;
    clear: left;
    text-align: center;
}

.page-header{
  text-align: center;
  margin: auto;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #1F2B9D;
    color: white;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 45%;
}

.search {
  float: right;
}

body
{
  background-color: white;

}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #1F2B9D;
    color: white;
}

li a:hover {
    background-color: #111;
}



h1
{
  text-align: center;
}
form
{
  border: 3px solid black;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 300px;
  height: 350px;
  background-color: gray;
}

.container
{
  padding: 16px;
}


input[type=submit]
{
  width: 20%;
  background-color: green;
  color: #fff;
  border: 2px solid gray;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 15px;
}